ion-tab-bar {
    --background: #383837;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-color: brown;
    border-bottom: 0px;
    
}

ion-tab-button{
    --color: #ffffff;
    --color-selected: rgb(248, 116, 93);
}
